@charset "UTF-8";

@font-face {
    font-family: "Mattone";
    src: url("font/Mattone-Regular.ttf") format("OpenType");
	
}

:root {
    --size: 27px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #FFFFFF;

    margin: 0;
    padding: 0;

    overflow: hidden;
}

#wrapper {
    padding: 1px;
	margin: 1px;
}

.puntino {
    position: absolute;

    width: var(--size);
    height: var(--size);

    border-radius: var(--size);

    cursor: pointer;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
}

.puntino.face {
    background-image: url("gif/!KISFACE.GIF");
}

.puntino.blink {
    background-image: url("gif/blink.gif");
}

.puntino.pynk {
    background-image: url("gif/pynk.gif");
}

.puntino.box {
    background-image: url("gif/box.GIF");
}

.puntino.no {
    background-image: url("gif/no_gif.GIF");
}

.puntino.cross {
    background-image: url("gif/cross.gif");
}

.puntino.ystar {
    background-image: url("gif/star_gif.gif");
}

.puntino.silverheart {
    background-image: url("gif/WBH01SRW.GIF");
}

.puntino.orangeheart {
    background-image: url("gif/WBH01TLO.GIF");
}

.puntino.blackstar {
    background-image: url("gif/starblack_gif.GIF");
}

.puntino.whistle {
    background-image: url("gif/whistle.gif");
}

.puntino.yuk {
    background-image: url("gif/YUKBLUES.GIF");
}

.puntino.blueheart {
    background-image: url("gif/WBH02TNB.GIF");
}

.puntino.point {
    background-image: url("gif/WBC01TLY.GIF");
}

.puntino.snowflake {
    background-image: url("gif/snowflake_gif.GIF");
}

.puntino.dadi {
    background-image: url("gif/DADI.gif");
}

.puntino.blueglobe {
    background-image: url("gif/globeblue_gif.GIF");
}


.puntino.blueball {
    background-image: url("gif/ball_gif.GIF");
}

.puntino.web {
    background-image: url("gif/WEBONE.GIF");
}

.puntino.tenda {
    background-image: url("gif/WBL01TNC.GIF");
}

.puntino.MENU {
    background-image: url("gif/MENUMENU.gif");
}





.puntino.face02 {
    background-image: url("gif/!KISFACE copia.GIF");
}

.puntino.blink02 {
    background-image: url("gif/blink copia.gif");
}

.puntino.globe02 {
    background-image: url("gif/globe copia.gif");
}

.puntino.box02 {
    background-image: url("gif/box copia.GIF");
}

.puntino.no02 {
    background-image: url("gif/no_gif copia.GIF");
}

.puntino.cross02 {
    background-image: url("gif/cross copia.gif");
}

.puntino.ystar02 {
    background-image: url("gif/star_gif copia.gif");
}

.puntino.silverheart02 {
    background-image: url("gif/WBH01SRW copia.GIF");
}

.puntino.orangeheart02 {
    background-image: url("gif/WBH01TLO copia.GIF");
}

.puntino.blackstar02 {
    background-image: url("gif/starblack_gif copia.GIF");
}

.puntino.whistle02 {
    background-image: url("gif/whistle copia.gif");
}

.puntino.yuk02 {
    background-image: url("gif/YUKBLUES copia.GIF");
}

.puntino.blueheart02 {
    background-image: url("gif/WBH02TNB copia.GIF");
}

.puntino.point02 {
    background-image: url("gif/WBC01TLY copia.GIF");
}

.puntino.snowflake02 {
    background-image: url("gif/snowflake_gif copia.GIF");
}

.puntino.dadi02 {
    background-image: url("gif/DADI copia.gif");
}

.puntino.blueglobe02 {
    background-image: url("gif/globeblue_gif copia.GIF");
}

.puntino.blueball02 {
    background-image: url("gif/ball_gifcopia.GIF");
}

.puntino.web02 {
    background-image: url("gif/WEBONE copia.GIF");
}

.puntino.tenda02  {
    background-image: url("gif/WBL01TNC copia.GIF");
}




.puntino > .img-container {
    position: relative;
    width: 100%;
    height: 100%;

    opacity: 0;

    pointer-events: none;
}
.puntino > .img-container.show {
    opacity: 1;
}

.puntino > .img-container > img {
    position: absolute;
    left: 25%;
    top: 25%;

    transform: translate(-50%, -50%);

    z-index: 50;
}

.rettangolo {
    position: absolute;
	
    border: 0.70px solid black;
}

.rettangolo > h2{
	font-family: 'Mattone';
	font-size: small;
    position: absolute;
    top: -30px;}
