@charset "UTF-8";

@font-face {
    font-family: "Mattone";
    src: url("font/Mattone-Regular.ttf") format("OpenType");
	
}

:root {
    --size: 25px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #FFFFFF;

    margin: 0;
    padding: 0;

    overflow: hidden;
}

#wrapper {
    padding: 1px;
	margin: 1px;
}

.puntino {
    position: absolute;

    width: var(--size);
    height: var(--size);

    border-radius: var(--size);

    cursor: pointer;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
}

.puntino.face {
    background-image: url("gif/!KISFACE.GIF");
}

.puntino.blink {
    background-image: url("gif/blink.gif");
}

.puntino.pynk {
    background-image: url("gif/pynk.gif");
}

.puntino.box {
    background-image: url("gif/box.GIF");
}

.puntino.no {
    background-image: url("gif/no_gif.GIF");
}

.puntino.cross {
    background-image: url("gif/cross.gif");
}

.puntino.ystar {
    background-image: url("gif/star_gif.gif");
}

.puntino.silverheart {
    background-image: url("gif/WBH01SRW.GIF");
}

.puntino.orangeheart {
    background-image: url("gif/WBH01TLO.GIF");
}

.puntino.blackstar {
    background-image: url("gif/starblack_gif.GIF");
}

.puntino.whistle {
    background-image: url("gif/whistle.gif");
}

.puntino.yuk {
    background-image: url("gif/YUKBLUES.GIF");
}

.puntino.blueheart {
    background-image: url("gif/WBH02TNB.GIF");
}

.puntino.point {
    background-image: url("gif/WBC01TLY.GIF");
}

.puntino.snowflake {
    background-image: url("gif/snowflake_gif.GIF");
}

.puntino.dadi {
    background-image: url("gif/DADI.gif");
}

.puntino.blueglobe {
    background-image: url("gif/globeblue_gif.GIF");
}


.puntino.blueball {
    background-image: url("gif/ball_gif.GIF");
}

.puntino.web {
    background-image: url("gif/WEBONE.GIF");
}

.puntino.tenda {
    background-image: url("gif/WBL01TNC.GIF");
}

.puntino.cuoreverde {
    background-image: url("gif/WBH02TNG.GIF");
}

.puntino.MENU {
    background-image: url("gif/MENUMENU.gif");
}

.puntino.golf {
    background-image: url("gif/golfball.gif");
}

.puntino.music {
    background-image: url("gif/music.GIF");
}

.puntino.lines {
    background-image: url("gif/LINES.GIF");
}

.puntino.right {
    background-image: url("gif/RIGHT.GIF");
}

.puntino.basket {
    background-image: url("gif/basket.GIF");
}

.puntino.butterfly {
    background-image: url("gif/butterfly.gif");
}

.puntino.HELP {
    background-image: url("gif/HELP.gif");
}

.puntino.SOFIA {
    background-image: url("gif/CREDIT-SOFIA-TASSI.gif");
}


.puntino > .img-container {
    position: relative;
    width: 100%;
    height: 100%;

    opacity: 0;

    pointer-events: none;
}
.puntino > .img-container.show {
    opacity: 1;
}

.puntino > .img-container > img {
    position: absolute;
    left: 25%;
    top: 25%;

    transform: translate(-50%, -50%);

    z-index: 50;
}

.rettangolo {
    position: absolute;
	
    border: 0.70px solid black;
}

.rettangolo > h2{
	font-family: 'Mattone';
	font-size: small;
    position: absolute;
    top: -30px;}
